.register-container,
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: var(--color-text-dark);
}

.input-container > :first-child {
  margin-left: 54px;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}

.input-container-login {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label-input {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: var(--color-background-body);
  color: var(--color-text-dark);
}

.label-small {
  width: 260px;
}

.input-field {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 12px;
  margin-top: 4px;
  height: 56px;
  border-radius: 12px;
  border: 1px solid var(--color-border-light);
  background-color: var(--color-background-body) !important;
  appearance: none;
}

.input-field:-webkit-autofill {
  box-shadow: 0 0 0 1000px var(--color-background-body) inset !important;
  -webkit-text-fill-color: var(--color-text) !important;
  font-family: inherit !important;
}

input:not([type='radio']).ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red !important;
  background-image: url('../../../assets/img/alert-triangle.svg');
  background-repeat: no-repeat;
  background-position: right 6px center;
  background-size: 16px 16px;
}

input:not([type='radio']).ng-valid.ng-touched,
select.ng-valid.ng-touched {
  border: 1px solid green !important;
  background-image: url('../../../assets/img/check-mark.svg') !important;
  background-repeat: no-repeat;
  background-position: right 6px center;
  background-size: 16px 16px;
}

input[type='number'] {
  // background-position: right 36px center !important;
  padding-right: 26px;
}

.label-radio {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 400px;
  background-color: var(--color-background-body);
  color: var(--color-text-dark);
  flex: 1;
}

.payment-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.cash-container,
.card-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 70px;
}

.input-radio {
  /* circle */
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 80px;
  border: 1px solid var(--color-border-dark);
  background-color: var(--color-background-body);
  box-shadow: 0 0 0 1000px var(--color-background-body) inset !important;
  padding: 4px;
}

.input-radio:checked {
  border: 5px solid var(--color-border-dark);
  background-color: var(--color-accent);
  box-shadow: inset 0 0 0 4px var(--color-background-body);
}

.radio-option {
  /* circle text */
  display: flex;
  justify-content: flex-end;
  width: 48px;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-btn {
  border: solid 1px var(--color-border-dark);
  border-radius: 100px;
  padding: 9px 0;
  width: 200px;
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

.register-btn:disabled {
  cursor: not-allowed;
}

.error-msg {
  text-align: center;
  color: red;
  height: 0;
  width: 100%;
  font-size: small;
}

@media (hover: hover) and (pointer: fine) {
  .register-btn:hover:not(:disabled) {
    background-color: var(--color-background-container);
    color: var(--color-text-light);
  }
}

@media (max-width: 700px) {
  .register-container {
    gap: 20px;
  }
  .label-input,
  .label-radio {
    width: 260px;
  }
  .input-container > :first-child {
    margin-left: 0px;
  }
  .input-container {
    gap: 46px;
  }
}
