:root {
  --color-text-dark: #403f3dff;
  --color-text-light: #e1d4c9ff;
  --color-text-accent: #b0907aff;

  --color-background-body: #e1d4c9ff;
  --color-background-container: #665f55ff;
  --color-background-backdrop: #403f3dcc;

  --color-border-light: #c1b6adff;
  --color-border-dark: #665f55ff;
}
