@import url('./colors.css');

*{
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-body);
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  padding: 20px 40px 40px 40px;
}

a {
  text-decoration: none;
  color: var(--color-text-dark);
}

div.div-button, button {
  cursor: pointer;
  background: none;
  border: none;
}

@media (max-width: 830px) {
  body {
    padding: 20px 40px 40px 40px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 20px 16px 40px 16px;
  }
}
