@import url('./typography.css');
@import url('./general.css');
@import url('./header.css');
@import url('./footer.css');

/* * {
  outline: 1px solid red;
} */

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  gap: 100px;

  .enjoy {
    position: relative;
    width: 100%;

    .enjoy-video {
      position: absolute;
      inset: 0;
      max-width: 1360px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 40px;
      z-index: 0;
    }

    .enjoy-content {
      position: relative;
      max-width: 730px;
      display: flex;
      flex-direction: column;
      z-index: 1;
      color: var(--color-text-dark);
      gap: 40px;
      padding: 100px 100px 100px 100px;

      h1 {
        color: var(--color-text-light);
      }

      p {
        color: var(--color-text-light);
      }

      .button {
        width: 200px;
        height: 64px;
        color: var(--color-text-dark);
        background-color: var(--color-background-body);
        border-radius: 100px;
        /* padding-bottom: 2px; */
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: 0px;
          padding-left: 16px;
          transition: gap 0.5s ease-in-out;

        .button-icon {
          opacity: 0;
          padding-top: 8px;
          transform: translateX(-5px);
          transition: 
            opacity 0.5s ease-in-out,
            transform 0.5s ease-in-out;
        }
      }

      @media (hover: hover) and (pointer: fine) {
        .button:hover {
          padding-left: 0px;
          gap: 6px;

          .button-icon {
            opacity: 1;
            transform: translateY(0);
            padding-top: 8px;
          }
        }
      }

      @media (max-width: 768px) {
        .button {
          padding-left: 0px;
          gap: 6px;

          .button-icon {
            opacity: 1;
            transform: translateY(0);
            padding-top: 8px;
          }
        }
      }
    }

    @media (max-width: 840px) {
      .enjoy-content {
        padding: 100px 60px;
      }
    }

    @media (max-width: 397px) {
      .enjoy-content {
        padding: 60px 16px;
      }
    }
  }

  .favorite-coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .slider-header{
      color: var(--color-text-dark);
      text-align: center;
    }

    .slider-outer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
      width: 100%;

      .slider {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        width: 100%;

        .slider-button {
          display: flex;
          width: 60px;
          height: 60px;
          justify-content: center;
          align-items: center;
          border-radius: 100px;
          border: 1px solid var(--color-text-dark);
          margin: 5px;
          transition: transform 0.5s ease-in-out;
          flex-shrink: 0;

          svg path {
            stroke: var(--color-text-dark);
          }
        }

        .slider-button:disabled {
          cursor: default;
          pointer-events: none;
        }

        @media (pointer: fine) and (hover: hover) {
          .slider-button:hover {
            cursor: pointer;
            background-color: var(--color-background-container);
            transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;

          }
          .slider-button:hover svg path {
            stroke: var(--color-text-light);
            transition: stroke 0.5s ease;
          }
        }
        
        .slider-row {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 40px;
          width: 100%;
          overflow-x: auto;
          scroll-behavior: smooth;
          scrollbar-width: none; 

          .slider-slider {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center; 
            gap: 40px;
            scroll-behavior: smooth;
            transition: transform 0.5s ease-in-out;
            width: 100%;

            .slider-card {
              flex: 0 0 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 20px;
              min-width: 280px; 
              /* width: 100%; */
              width: 468px;

              img {
                max-width: 480px;
                width: 100%;
                height: 480px;
                object-fit: cover;
              }

              .card-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                color: var(--color-text-dark);
                max-width: 480px;

                p {
                  text-align: center;
                  padding: 0 15px;
                }
              }
            }
          }
        }
      }

      .slider-controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;

        .slider-control {
          /* display: flex; */
          width: 40px;
          height: 4px;
          /* border: 1px solid var(--color-border-dark); */
          background-color: var(--color-border-light);
          border-radius: 100px;
            position: relative;
            overflow: hidden;

          .slider-progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0%;
            background-color: var(--color-border-light);
            transition: width linear;
          }
        }

        .slider-control-activ {
          background-color: var(--color-border-dark);
          .slider-progress {
            width: 100%;
          }
        }
      }
    }

    @media (max-width: 700px) {
      .slider-outer {
        .slider {
          gap: 0;
          .slider-row {
            .slider-slider {
              .slider-card {
                img {
                  width: 348px;
                  height: 348px;
                }
                .card-content p {
                  padding: 0 0;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 500px) {
      .slider-outer {
        .slider {
          .slider-button {
            display: none;
          }

          .slider-card {
            .card-content p {
              padding: 0 0;
            }
          }
        }
      }
    }

  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;

    .images {
      display: flex;
      flex-direction: row;
      gap: 40px;
      width: 100%;

      .images-column {
        display: flex;
        flex-direction: column; 
        gap: 40px;
        max-width: 660px;
        width: 100%;

        .square-image {
          width: 100%;
          max-width: 660px;
          aspect-ratio: 660 / 590;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          border-radius: 20px;
        }

        .rect-image {
          width: 100%;
          max-width: 660px;
          aspect-ratio: 660 / 430;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          border-radius: 20px;
        }
        
        img {
          width: 110%;
          height: auto;
          object-fit: contain;
          display: block;
          transition: transform 0.5s ease-in-out;
        }
        
        @media (pointer: fine) and (hover: hover) {
          .square-image img:hover, .rect-image img:hover {
            transform: scale(0.92);
            cursor: pointer;
          }
        }

        /* @media (max-width: 1440px) {
          img { */
            /* max-width: 100%; */
          /* }
        } */
      }

      @media (max-width: 769px) {
        flex-direction: column;

        .images-column {
          max-width: none;

          .square-image {
            width: 100%; 
            height: 590px;
            aspect-ratio: auto;
            max-width: none;
          
            img {
              max-width: none;
              width: 726px;
            }
          }

          .rect-image {
            display: none;
          }
        }
      }
    }
  }

  .mobile-app {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

    .offer {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-right: 60px;
      /* padding-bottom: 4px; */
      flex-basis: 400px;
      flex-grow: 1;

      .offer-buttons {
        display: flex ;
        flex-direction: row;
        gap: 20px;

        .button-app {
          display: flex;
          flex-direction: row;
          border-radius: 40px;
          border: var(--color-border-dark) 1px solid;
          width: 200px;
          height: 64px;
          padding: 10px 20px;
          color: var(--color-text-dark);
          gap: 8px;
          transition: background-color 0.5s ease-in-out;

          .button-app-icon {
            display: flex;
            width: 36px;
            height: 36px;
            align-items: end;
            justify-content: center;
            svg path {
              transition: background-color 0.5s ease-in-out;
            }
          }

          .button-app-text {
            display: flex;
            flex-direction: column;
            color: var(--color-text-dark);
            gap: 2px;

            div {
              display: flex;
              justify-content: flex-start;
              transition: background-color 0.5s ease-in-out;
            }
          }
        }
        @media (hover: hover) and (pointer: fine) {
          .button-app:hover {
            background-color: var(--color-background-container);

            .button-app-icon {
              svg path {
                fill: var(--color-text-light);
              }
            }

            .button-app-text {
              color: var(--color-text-light);
            }
          }
        }
      }

      @media (max-width: 768px) {
        padding-right: 0px;
      }

      @media (max-width: 480px) {
        flex-basis: auto;
        padding-bottom: 0px;

        .offer-buttons {
          flex-direction: column;
        }
      }

    }
    
    .mobile-image {
      display: flex;
      justify-content: center;
      height: 100%;
    } 

    img {
      display: block;
      width: 100%;
      max-width: 630px;
      height: auto;
      object-fit: contain;
    }
  }
}

@media (max-width: 830px) {

  .images {
    flex-direction: column;
  }

  section.mobile-app {
    flex-direction: column;
  }
}
